你的 RogueStats 登录信息已准备就绪

{{ .Username }}，你好：

你的 RogueStats 登录信息现已准备就绪。请使用以下信息登录至 RogueStats：

E-mail：{{ .Email }}

密码：{{ .Password }}

前往 RogueStats Console [https://rogue.penguin-stats.io]

我们强烈建议你在第一次登录后立即修改密码，以确保账户安全。

如果你有任何问题，欢迎随时联系 RogueStats 开发组。

祝好，

RogueStats 开发组

--------------------------------------------------------------------------------

RogueStats 是一个 Penguin Statistics 下的所属项目。Penguin Statistics
是一个由玩家驱动的明日方舟数据统计网站，致力于为玩家提供更好的游戏体验。

此邮件是为 Penguin Statistics 自动发送，请勿回复。