你的 RogueStats 登录信息重置请求已就绪

{{ .Username }}，你好：

你的 RogueStats 登录信息重置请求已就绪，请点击下方按钮以重置你的 RogueStats 登录信息。此次登录信息重置请求将在 {{ .TokenTTL
}} 后失效。

重置密码 [https://rogue.penguin-stats.io/auth/reset-password?token={{ .Token }}]

如果你有任何问题，欢迎随时联系 RogueStats 开发组。

祝好，

RogueStats 开发组

--------------------------------------------------------------------------------

RogueStats 是一个 Penguin Statistics 下的所属项目。Penguin Statistics
是一个由玩家驱动的明日方舟数据统计网站，致力于为玩家提供更好的游戏体验。

此邮件是为 Penguin Statistics 自动发送，请勿回复。